
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<body>
    <div class="Container">
        <div class="row" style="align-self:center; text-align:center;">
            <h1>Developers Profile</h1>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @*<img src="~/IconsNImages/amitab.jpg" />*@
            </div>
            <div class="col-lg-8" style="">
                <div class="row">
                    Education: Bachelors in Software Engineering
                </div>
                <div class="row">
                    Experience: 7+ yrs in Software Developing and Consulting
                </div>
                <div class="row">
                    <ul>
                        <li>Reliant Corporation, Irving, TX: .Net Developer/(Web and mobile developer) (July 2015- )</li>                       
                        <li>Chase Bank, North Richland Hills, TX: .Net Developer (January 2015 – June 2015)</li>
                        <li>Fedex Inc, Hurst, TX: .Net Developer (June 2011 – July 2012)</li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-4" style="">
                @*<img src="~/IconsNImages/jackie.jpg" />*@
            </div>
            <div class="col-lg-8" style="">
                <div class="row">
                    Education: Bachelors in Computer Science
                </div>
                <div class="row">
                    Experience: 3+ yrs in Software Developing
                </div>
                <div class="row">
                    <ul>
                        <li>USAA, San Antonio, TX: .Net Developer/(Web and mobile developer) (January 2017- )</li>
                        <li> Las Colinas, TX: .Net Developer (August 2016 – December 2016)</li>
                        <li>Availx Corporation, North Richland Hills, TX: .Net Developer (January 2015 – May 2016)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
