
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<body>
    <div class="row" style="align-items:stretch;">
        <div class="span4" style="">
            <img src="~/IconsNImages/amitab.jpg" />
        </div>
        <br />
        <br />
        <div class="span4" style="">
            <img src="~/IconsNImages/jackie.jpg" />
        </div>
    </div>
</body>
