
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<body>
    <div class="Container">
        <div class="row" style="align-self:center; text-align:center;">
            <h1>Developers Profile</h1>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="~/IconsNImages/amitab.jpg" />
            </div>
            <div class="col-lg-8" style="">
                <div class="row">
                    Education: Bachelors in Software Engineering
                </div>
                <div class="row">
                    Experience: 5+ yrs in Software Developing and Consulting
                </div>
                <div class="row">
                    <ul>
                        <li>Aviant Corporation, Irving, TX: .Net Developer/(Web and mobile developer) (July 2015- )</li>
                        <li>State of South Carolina, Columbia, SC: .Net Developer (January 2013 – June 2015)</li>
                        <li>Availx Corporation, North Richland Hills, TX: .Net Developer (November 2011 – December 2012)</li>
                    </ul>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-sm-4" style="">
                <img src="~/IconsNImages/jackie.jpg" />
            </div>
            <div class="col-lg-8">
            </div>
        </div>
    </div>
</body>
